#container{
    height: 380px;
    width: 360px;
    background-color: aqua;
    margin-left: 300px;
    margin-top: 50px;
    
    border: solid black;
}
#button{
    margin-left: 120px;
    margin-top: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
img{
    height: 380px;
    width: 360px;
    margin-right: 40px;
    
}
h1{
    margin-left: 350px;
}